main{
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid red;
}
div{
    width: 80px;
    height: 50px;
}
body{
    background-image: url(Jace\ Norman.jpg);
    background-repeat: no-repeat;
}
*{
    color: chartreuse;
}